@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind pages;


body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #d6f3ff, #ffe2e2);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 5% auto;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: 0.3s;
}

.form input:focus {
  border-color: #0077ff;
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #019374;
}


.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

